*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body{
    max-width: 100%;
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    color: transparent;
    display: flex;
    justify-content: center;
}
.container {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 10px;
}
.header_inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header_logo-img {
    max-width: 87px;
    max-height: 87px;
}
.header_logo-img img {
    max-width: 100%;
    max-height: 100%;
}
.header_logo-text {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 41px;
    color: #fff;
}
.header_logo-description {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}
.header_logo-description--indent{
    margin-top: 20px;
}
.header_links {
    display: flex;
    box-shadow: #987e14 -4px -4px;
    justify-content: center;
    align-items: center;
}
.header_link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    transition: 0.5s;
}
.header_link-word{
    margin-right: 5px;
}
.header_link:first-child, .header_link:nth-child(2) {
    border-right: 2px solid #dcb105;
}
.header_link-img {
    max-width: 25px;
    max-height: 25px;
}
.header_link-img--indent {
    margin-right: 5px;
}
.header_link--color {
    color: #9b7d08;
    background-color: #f5c506;
}
.header_link:hover {
    text-decoration: 2px solid #9b7d08;
}
.header_link--size {
    width: 170px;
    padding: 10px 25px;
}
.minimal {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 600px;
    background: url(img/background.png);
    background-size: cover;
}
.minimal_inner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.minimal__mobile{
    display: none;
}
.minimal_title {
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    font-size: 63px;
    color: #f5c506;
    text-align: center;
    text-transform: uppercase;
    line-height: 80px;
}
.minimal_title--indent {
    margin-top: 40px;
}
.minimal_title--white {
    color: #fff;
}

.about {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    max-width: 100%;
    height: 215px;
    display: flex;
    justify-content: center;
}
.about_inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_img {
    max-width: 110px;
    max-height: 110px;
}
.about_title {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 27px;
    text-align: center;
}

.services {
    background: url(img/services_background.png);
    max-width: 100%;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services_inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.services_title {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 37px;
    color:#fff;
    text-transform: uppercase;
}
.services_title--indent {
    margin: 45px 0px 25px;
}
.services_columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services_container {
    display: flex;
    width: 67%;
    justify-content: space-between;
}
.services_column-text {
    width: 320px;
    height: 215px;
    
    background: #ec9e03;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #fff;
}
.services_column video {
    background: none;
    margin-top: -35px;
    width: 320px;
    height: 250px;
}
.services_column--indent {
    padding: 10px;
}
.services_column-img {
    width: 300px;
    height: 215px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ec9e03;
}
.services_right-text{
    height: 100%;
    display: flex;
    align-items: flex-start;
}
.services_twit {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
}

.benefits {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background: url(img/background3.png);
    background-size: cover;
}
.benefits__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.benefits__title {
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 43px;
    color: #f5c506;
}
.benefits__title--indent {
    margin-top: 55px;
}
.benefits__columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.benefits__image {
    width: 60%;
    height: 100%;
}
.benefits__image img {
    max-width: 100%;
    max-height: 100%;
}
.benefits__list {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.benefits__list-item {
    display: flex;
    justify-content: flex-start;
}
.benefits__list-item--indent {
    margin: 15px 0px;
}
.benefits__item-img {
    margin-top: 8px;
}
.benefits__item-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #a9a9a9;
}
.benefits__item-text--indent {
    margin-left: 20px;
}
.footer {
    width: 100%;
    height: 65px;
    background-color: #4c4c4c;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}
.footer__inner {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__logo-img {
    width: 65px;
    height: 65px;
}
.footer__logo-img img {
    width: 100%;
    height: 100%;
}
.footer__logo-text {
    text-transform: uppercase;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 29px;
}

@media (max-width: 640px){
    .header{
        height: 60px;
    }
    .container{
        width: 100%;
        padding: 0;
    }
    .header_inner{
        justify-content: space-between;
    }
    .header_logo {
        width: 28%;
        height: 100%;
        display: flex;   
        background-color: #505050;
        padding-left: 20px;
    }
    .header_logo-img{
        width: 40px;
        height: 40px;
    }
    .header_logo-img img{
        width: 100%;
        height: 100%;
    }
    .header_logo-text {
        font-size: 19px;
    }
    .header_logo-description {
        display: none;
    }
    .header_links {
        width: 72%;
        height: 100%;
        box-shadow: none;
    }
    .header_link {
        padding: 0;
        font-size: 19 px;
        max-width: 160px;
    }
    .header_link-word{
        margin-right: 5px;
    }
    .header_link--size {
        height: 100%;
        
    }
    .header_logo-img{
        width: 30px;
        height: 25px;
    }
    .minimal {
        background: none;
    }
    .minimal__mobile {
        display: block;
        width: 100%;
        height: 100%;
    }
    .minimal_title {
        display: none;
    }
    .about_inner {
        width: 90%;
        justify-content: space-between;

    }
    .about_img {
        width: 110px;
        height: 110px;
        margin-bottom: 10px;
    }
    .about_title {
        font-size: 23px;
    }
    .services {
        background: #fff;
        height: 460px;
    }
    .services_title {
        display: none;
    }
    .services_columns {
        flex-direction: column;
        width: 100%;
    }
    .services_container {
        padding: 13px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .services_column video {
        margin-top: -45px;
        width: 300px;
        height: 260px;
    }
    .services_column-text{
        width: 48%;
    }
    .services_column-img {
        width: 100%;
        background-color: #f5c507;
        display: flex;
        justify-content: center;
    }
    .services_right-text {
        display: none;
    }
    .benefits {
        height: 420px;
    }
    .benefits__title {
        font-size: 39px;
        text-align: center;
    }
    .benefits__image {
        width: 100%;
    }
    .benefits__list {
        display: none;
    }
    .footer__logo-img {
        width: 50px;
        height: 50px;
    }

}