.contacts{
  width: 100%;
  background-color: #fff;
  padding: 10px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.contact_block{
  width: 370px;
  display: flex;
  flex-direction: column;
}
.contact_block hr{
  width: 100%;
  height: 2px;
  color: #767c7e;
  opacity: 0.6;
}
.contact_block{
  width: 100%;
  max-height: 100%;
  margin: 30px 0px;
}
.contact_block img{
  /* width: 70px;
  height: 70px; */
  border-radius: 50%;
  margin-right: 30px;
}
.contact_img_size img{
  width: 30px;
  height: 30px;
  border-radius: 0px;
}
.contact_block:first-child, .contact_block:nth-child(2){
  margin-right: 30px;
}
.contact_heading{
  text-transform: uppercase;
  font-size: 21px;
  color: #202628;
  margin: 30px 0px;
}
.contact_info{
  width: 100%;
  display: flex;
  margin: 30px 0px;
}
.contact_info_text{
  display: flex;
  flex-direction: column;
}
.contact_info_text a{
  text-decoration-color: #767c7e;
}
.contact_info_description{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #767c7e;
  line-height: 24px;
}
.contact_info_heading{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}

/*------------------Средний блок в этой секции-------------------*/

.grey_form{
  width: 100%;
  padding: 15px;
  background-color: #e7e7e7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.grey_form_description{
  font-size: 14px;
  color:#767c7e;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 24px;
}
.sending_data{
  display: flex;
  flex-direction: column;
}
.grey_form_input{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  width: 100%;
  height: 40px;
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  outline: none;
}
.question{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  width: 100%;
  resize: none;
  padding: 15px;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
}
.grey_form_btn{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #e84c3d;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  border: 0px;
  cursor: pointer;
}