footer{
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202628;
}
.footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer_part_left{
  display: flex;
  flex-direction: column;
}
.footer_part_right{
  display: flex;
  justify-content: flex-end;
}
.footer_part_right img{
  margin-left: 10px;
  width: 45px;
  height: 45px;
}
.footer_nav{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.footer_nav li{
  margin-right: 10px;
  margin-left: 10px;
  transition: .2s;     
  /* transform: rotate(35deg); */
}
.footer__link:hover {
  transform: scale(1.15);
}

.footer_nav a{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #e7e7e7;
  text-decoration-color: #e7e7e7;
  position: relative;
}
.footer_nav a::after{
  content: "";
  font-size: 10px;
  margin-left: 10px;
  color:#e7e7e7;
  width: 1px;
  height: 15px;
  background-color: #e7e7e7;
  top: 0;
  right: 0px;
  transform: rotate(15deg);
  position: absolute;
  text-decoration: none;
}

.creator{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #767c7e;
}
