.main_foto{
  background: url(../img/main.png);
  background-size: cover;
  height: 560px;
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.main_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main_content p{
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e7e7e7;
  font-size: 31px;
  margin-bottom: 10px;
}
.main_content p img{
  margin-bottom: 5px;
}
.red_link{
  display: block;
  width: 160px;
  margin-bottom: 60px;
}
.link{
  color: #e84c3d;
  font-size: 15px;
  
}
.circle{
  display: flex;
  margin-bottom: 20px;
}
.arrow-left {
  width: 35px;
  height: 70px;
  border-radius: 35px 0px 0px 35px;
  background-color: #e84c3d;
  margin-right: 2px;
  position: relative;
}
.arrow-left::before {
  content: '';
  width: 2px;
  height: 15px;
  background-color: #000;
  position: absolute;
  right: 11px;
  top: 32px;
  transform: rotate(-45deg);
  z-index: 1;
}
.arrow-left::after {
  content: '';
  width: 2px;
  height: 15px;
  background-color: #000;
  position: absolute;
  right: 11px;
  top: 22px;
  transform: rotate(45deg);
  z-index: 1;
}
.arrow-right {
  width: 35px;
  height: 70px;
  border-radius: 0px 35px 35px 0px;
  background-color: #e84c3d;
  position: relative;
}
.arrow-right::before {
  content: '';
  width: 2px;
  height: 15px;
  background-color: #000;
  position: absolute;
  left: 11px;
  top: 32px;
  transform: rotate(45deg);
  z-index: 1;
}
.arrow-right::after {
  content: '';
  width: 2px;
  height: 15px;
  background-color: #000;
  position: absolute;
  left: 11px;
  top: 22px;
  transform: rotate(-45deg);
  z-index: 1;
}