header{
  width: 100%;
  height: 80px;
background-color: #202628;
display: flex;
  justify-content: center;
}
.header_logo{
text-transform: uppercase;
  display: block;
color: #e7e7e7;
font-weight: 600;
font-size: 22px;
cursor: pointer;
}
.topnav{
  display: flex;
}
.topnav a li{
  display: block;
  width: 75px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
}
.topnav a li:hover{
  background-color: #e84c3d;

}
.topnav a{
  color: #e7e7e7;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.set_of_blocks{
  width: 100%;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}