.services_background{
  width: 100%;
  padding: 30px 0 0 0;
  background-color: #e84c3d;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  padding-bottom: 35px;
}
.services{
  width: 100%;
  display: flex;
  justify-content: center;
}
.service_info{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service_info_avatar img{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 30px;
}
.service_info_text{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.service_heading{
  font-size: 21px;
  color: #fff;
  margin: 20px 0px;
  text-transform: uppercase;
}
.service_description{

  font-size: 16px;
  color: #fff;
  line-height: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 23px;
}
.service_search p{
  font-size: 21px;
  color: #fff;
  margin: 25px 0px;
  text-transform: uppercase
}
.quote{
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.service_search form{
  display: flex;
  justify-content: center;
}
.input_search{
  width: 380px;
  height: 45px;
  font-style: italic;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: #fff;
  border-radius: 23px;
  padding: 20px;
  font-size: 14px;
  text-align: left;
  margin-right: 10px;
  outline: none;
}
.input_subcribe{
  width: 120px;
  height: 45px;
  background-color: #202620;
  border-radius: 23px;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
}
.btn_image{
  position: relative;
  width: 20px;
  height: 20px; 
  top: 12px;
  left: -70px;
}
.btn_image_2{
  position: relative;
  width: 20px;
  height: 20px;
  top: 3px; 
  left: -35px;
}
