*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100VH;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock{
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/clock.jpg);
    background-size: cover;
    border: 6px double #f1d700;
    border-radius: 50%;
    box-shadow: 0px -15px 15px #444,
            inset 0px -15px 15px #444,
            0px 15px 15px #222,
            inset 0px 15px 15px #222;
}
.clock::before{
    content: '';
    width: 25px;
    height: 25px;
    background-color: #ffd700;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
}

.clock_hours {
    position: absolute;
}
.clock_hour{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    animation: rotateArrows 86400s linear infinite;
}
.clock_hour::before{
    content: '';
    position: absolute;
    border: 4px solid #ffd700;
    width: 8px;
    height: 150px;
    border-radius: 100% 100% 0px 0px;
}

.clock_minutes {
    position: absolute;
}
.clock_minute{
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    animation: rotateArrows 3600s linear infinite;
}
.clock_minute::before{
    content: '';
    position: absolute;
    border: 4px solid #ebfc00;
    width: 2px;
    height: 200px;
    border-radius: 100% 100% 0px 0px;
}

.clock_seconds {
    position: absolute;
}
.clock_second{
    width: 440px;
    height: 440px;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    animation: rotateArrows 60s linear infinite;
}
.clock_second::before{
    content: '';
    position: absolute;
    border: 2px dotted #fcb900;
    width: 2px;
    height: 250px;
    border-radius: 100% 100% 0px 0px;
}

@keyframes rotateArrows {
    100%{
        transform: rotateZ(360deg);
    }
}