*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
header{
    width: 100%;
    height: 80px;
	background-color: #202628;
	display: flex;
    justify-content: center;
}
.grid{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
	text-transform: uppercase;
    display: block;
	color: #e7e7e7;
	font-weight: 600;
	font-size: 22px;
	cursor: pointer;
}
.topnav{
    display: flex;
}
.topnav li{
    display: block;
    width: 75px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}
.topnav li:hover{
    background-color: #e84c3d;

}
.topnav li a{
    color: #e7e7e7;
    font-size: 12px;
}
.main_foto{
    background: url(img/main.png);
    background-size:cover;
    height: 560px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.main_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.main_content p{
    color: #e7e7e7;
    font-size: 31px;
    margin-bottom: 10px;
}
.main_content p img{
    margin-bottom: 5px;
}
.main_content span{
    color: #e84c3d;
    font-size: 15px;
    margin-bottom: 40px;
}
.circle{
    display: flex;
    margin-bottom: 20px;
}
.circle img{
    margin-right: 3px;
}