/*Общие натройки*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.red{
    color: #e84c3d;
}
.grid{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Навигация*/
header{
    width: 100%;
    height: 80px;
	background-color: #202628;
	display: flex;
    justify-content: center;
}
.header_logo{
	text-transform: uppercase;
    display: block;
	color: #e7e7e7;
	font-weight: 600;
	font-size: 22px;
	cursor: pointer;
}
.topnav{
    display: flex;
}
.topnav li{
    display: block;
    width: 75px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}
.topnav li:hover{
    background-color: #e84c3d;

}
.topnav li a{
    color: #e7e7e7;
    font-size: 12px;
}

/*первая секция*/
.main_foto{
    background: url(img/main.png);
    background-size: cover;
    height: 560px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.main_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.main_content p{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e7e7e7;
    font-size: 31px;
    margin-bottom: 10px;
}
.main_content p img{
    margin-bottom: 5px;
}
.main_content span{
    color: #e84c3d;
    font-size: 15px;
    margin-bottom: 60px;
}
.circle{
    display: flex;
    margin-bottom: 20px;
}
.circle img{
    margin-right: 3px;
}

/*вторая секция*/
.about{
    width: 100%;
    height: 275px;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set_of_blogs{
    
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.blog{
    width: 33.3%;
    display: flex;
}
.image{
    margin: 0px 20px;
}
.heading{
    text-transform: uppercase;
    font-size: 21px;
    color: #202628;
    margin-bottom: 25px;
}
.description{
    font-size: 14px;
    line-height: 25px;
    color: #767c7e;
    margin-bottom: 25px;
}

/*третья секция*/
.portfolio_background{
    background-color: #fff;
    width: 100%;
    height: 515px;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
}
.portfolio{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.portfolio_info{
    width: 770px;
    margin-right: 30px;
}
.portfolio_info h2{
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 35px;
    color: #202628;
}
.portfolio_info hr{
    color: #e7e7e7;
    opacity: 0.6;
    height: 2px;
    width: 100%;
}
.portfolio_heading p{
    font-size: 20px;
    color: #e84c3d;
    margin: 5px 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
.portfolio_image img{
    width: 355px;
    height: 355px;
    border-radius: 50%;
    background-size: cover;
}
.portfolio_posts{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
}
.portfolio_post{
    width: 50%;
    height: 215px;
    margin-right: 25px;
}
.post_heading{
    font-size: 16px;
    color: #202628;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
}
.post_description{
    font-size: 14px;
    color: #767c7e;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
}
.post_btn{
    width: 70px;
    height: 35px;
    background-color: #e84c3d;
    border-radius: 20px;
    border: 0;
    color:#fff;
    text-transform: uppercase;
    font-size: 16px;
}