/*----------------------------Общие натройки----------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}
input{
    border: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.red{
    color: #e84c3d;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.grid{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*------------------------Навигация-----------------------------*/

header{
    width: 100%;
    height: 80px;
	background-color: #202628;
	display: flex;
    justify-content: center;
}
.header_logo{
	text-transform: uppercase;
    display: block;
	color: #e7e7e7;
	font-weight: 600;
	font-size: 22px;
	cursor: pointer;
}
.topnav{
    display: flex;
}
.topnav li{
    display: block;
    width: 75px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}
.topnav li:hover{
    background-color: #e84c3d;

}
.topnav li a{
    color: #e7e7e7;
    font-size: 12px;
}
.set_of_blocks{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
/*-----------------------первая секция-------------------------*/

.main_foto{
    background: url(img/main.png);
    background-size: cover;
    height: 560px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.main_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.main_content p{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e7e7e7;
    font-size: 31px;
    margin-bottom: 10px;
}
.main_content p img{
    margin-bottom: 5px;
}
.main_content span{
    color: #e84c3d;
    font-size: 15px;
    margin-bottom: 60px;
}
.circle{
    display: flex;
    margin-bottom: 20px;
}
.circle img{
    margin-right: 3px;
}

/*--------------------вторая секция---------------------*/

.about{
    width: 100%;
    height: 275px;
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog{
    width: 33.3%;
    display: flex;
}
.image{
    margin: 0px 20px;
}
.heading{
    text-transform: uppercase;
    font-size: 21px;
    color: #202628;
    margin-bottom: 25px;
}
.description{
    font-size: 14px;
    line-height: 25px;
    color: #767c7e;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/*----------------------третья секция---------------------*/

.portfolio_background{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.portfolio{
    background-color: #fff;
    width: 100%;
    height: 515px;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
}
.portfolio_info{
    width: 770px;
    margin-right: 30px;
}
.portfolio_info h2{
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 35px;
    color: #202628;
}
.portfolio_info hr{
    color: #e7e7e7;
    opacity: 0.6;
    height: 2px;
    width: 100%;
}
.portfolio_heading p{
    font-size: 20px;
    color: #e84c3d;
    margin: 5px 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.portfolio_image img{
    width: 355px;
    height: 355px;
    border-radius: 50%;
    background-size: cover;
}
.portfolio_posts{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
}
.portfolio_post{
    width: 50%;
    height: 215px;
}
.portfolio_post:first-child{
    margin-right: 25px;
}
.post_heading{
    font-size: 16px;
    color: #202628;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 20px;
}
.post_description{
    font-size: 14px;
    color: #767c7e;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
}
.post_btn{
    width: 70px;
    height: 35px;
    background-color: #e84c3d;
    border-radius: 20px;
    border: 0;
    color:#fff;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

/*----------------------------четвертая секция----------------------*/

.services_background{
    width: 100%;
    height: 190px;
    background-color: #e84c3d;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    padding-bottom: 35px;
}
.services{
    width: 100%;
    display: flex;
    justify-content: center;
}
.service_info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service_info_avatar img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 30px;
}
.service_info_text{
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.service_heading{
    font-size: 21px;
    color: #fff;
    margin: 20px 0px;
    text-transform: uppercase;
}
.service_description{

    font-size: 16px;
    color: #fff;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 23px;
}
.service_search p{
    font-size: 21px;
    color: #fff;
    margin: 25px 0px;
    text-transform: uppercase
}
.quote{
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
}
.service_search form{
    display: flex;
    justify-content: center;
}
.input_search{
    width: 380px;
    height: 45px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #fff;
    border-radius: 23px;
    padding: 20px;
    font-size: 14px;
    text-align: left;
    margin-right: 10px;
    outline: none;
}
.input_subcribe{
    width: 120px;
    height: 45px;
    background-color: #202620;
    border-radius: 23px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-right: 40px;
    cursor: pointer
}

/*--------------------------пятая секция---------------------------*/

.contacts{
    width: 100%;
    background-color: #fff;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.contact_block{
    width: 370px;
    display: flex;
    flex-direction: column;
}
.contact_block hr{
    width: 100%;
    height: 2px;
    color: #767c7e;
    opacity: 0.6;
}
.contact_block{
    width: 100%;
    max-height: 100%;
    margin: 30px 0px;
}
.contact_block img{
    /* width: 70px;
    height: 70px; */
    border-radius: 50%;
    margin-right: 30px;
}
.contact_img_size img{
    width: 30px;
    height: 30px;
    border-radius: 0px;
}
.contact_block:first-child, .contact_block:nth-child(2){
    margin-right: 30px;
}
.contact_heading{
    text-transform: uppercase;
    font-size: 21px;
    color: #202628;
    margin: 30px 0px;
}
.contact_info{
    width: 100%;
    display: flex;
    margin: 30px 0px;
}
.contact_info_text{
    display: flex;
    flex-direction: column;
}
.contact_info_description{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #767c7e;
    line-height: 24px;
}
.contact_info_heading{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
}

/*------------------Средний блок в пятой секции-------------------*/

.grey_form{
    width: 100%;
    height: 405px;
    background-color: #e7e7e7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.grey_form_description{
    font-size: 14px;
    color:#767c7e;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 24px;
}
.sending_data{
    display: flex;
    flex-direction: column;
}
.grey_form_input{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    width: 100%;
    height: 40px;
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none;
}
.question{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    width: 100%;
    resize: none;
    padding: 15px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
}
.grey_form_btn{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #e84c3d;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    border: 0px;
    cursor: pointer;
}

/*------------------------FOOTER-----------------------------*/

footer{
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202628;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer_part_left{
    display: flex;
    flex-direction: column;
}
.footer_part_right{
    display: flex;
    justify-content: flex-end;
}
.footer_part_right img{
    margin-left: 10px;
    width: 45px;
    height: 45px;
}
.footer_nav{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.footer_nav li{
    margin-right: 10px;
}
.footer_nav li::after{
    content: "/";
    font-size: 10px;
    margin-left: 10px;
    color:#e7e7e7;
}
.footer_nav li:nth-child(2), .footer_nav li:nth-child(4){
    border: 1px 0px solid #e7e7e7;
}
.footer_nav li a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #e7e7e7;
    transition: 1s;
}
.footer_nav li:hover a{
    font-size: 16px;
}
.creator{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #767c7e;
}
