:root {
    --theme: #444;
}    
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    background-color: var(--theme);
    position: relative;
}

.header__text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.header__button{
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #000;
    position: absolute;
    right: 200px;
    top: 35%;
    color: #000;
    cursor: pointer;
}

.dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.dashboard__greeting{
    width: 100%;
    font-size: 22px;
    text-align: center;
    margin: 20px 0px;
}
.dashboard__content{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.dashboard__filters{
    width: 250px;
    display: flex;
    flex-direction: column;
}
input[type="text"] {   
    border: 1px solid #666;  
    border-radius: 6px; 
    -webkit-border-radius: 6px;   
    -moz-border-radius: 6px;    
    -khtml-border-radius: 6px;  
    background: #ffffff !important; 
    outline: none;   
    height: 35px;  
    width: 250px; 
    color: #000;  
    font-size: 20px;  
    font-family: Lato, sans-serif; 
    font-weight: 400;
    margin-bottom: 10px;
    padding-left: 10px;
}
.dashboard__todoList{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard__task {
    width: 80%;
    height: 60px;
    border-radius: 30px;
    background-color: var(--theme);
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.dashboard__task:hover .dashboard__icon {
    opacity: 100;
}

.dashboard__icons {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.dashboard__icon{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
}

.pencil{
    width: 35px;
    height: 35px;
}

.dashboard__icon img {
    width: 100%;
    height: 100%;
}

.dashboard__theme{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.dashboard__theme-text{
    color: #666;
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
}
.select-css { 
    display: block; 
    font-size: 16px; 
    font-family: sans-serif; 
    font-weight: 700; 
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em; width: 100%; 
    max-width: 100%; 
    margin: 0; 
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
} 
.select-css::-ms-expand { 
    display: none; 
} 
.select-css:hover { 
    border-color: #888; 
} 
.select-css:focus { 
    border-color: #aaa; 
    color: #222;
    outline: none; 
} 
.select-css option {
    font-weight:normal; 
} 
.dashboard__add {
    position: fixed;
    right: 300px;
    bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: var(--theme);
    cursor: pointer;
}

.dashboard__add img{
    width: 100%;
    height: 100%;
}

.modal {
    display: none;
}
.modal__wrap{
    width: 350px;
    height: 450px;
    border-radius: 15px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    flex-direction: column;
    position: absolute;
    left: 38%;
    top: 20%;
}

.modal__text {
    width: 100%;
    color: var(--theme);
    text-align: center;
    margin-bottom: 20px ;
}

.modal__title{
    width: 310px;
    height: 40px;
    border: 1px solid #666;  
    border-radius: 6px; 
    -webkit-border-radius: 6px;   
    -moz-border-radius: 6px;    
    -khtml-border-radius: 6px;  
    background: #ffffff !important; 
    outline: none;   
    color: #000;  
    font-size: 20px;  
    font-family: Lato, sans-serif; 
    font-weight: 400;
    margin-bottom: 20px;
    padding-left: 10px;
    resize: none;
}

.modal__description {
    width: 310px;
    height: 140px;
    padding: 10px;
    resize: none;
    border: 1px solid #666;  
    border-radius: 6px; 
    -webkit-border-radius: 6px;   
    -moz-border-radius: 6px;    
    -khtml-border-radius: 6px;  
    background: #ffffff ; 
    outline: none;   
    color: #000;  
    font-size: 20px;  
    font-family: Lato, sans-serif; 
    font-weight: 400;
    margin-bottom: 50px;
}

.modal__button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #004ee0;
    color: #fff;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=checkbox] {
    opacity: 0;
    position: absolute; 
}

input[type=checkbox], label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer; 
}

input[type=checkbox] + label:before {
    content: '';
    background: var(--theme);
    border-radius: 10px;
    border: 2px solid #fff;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    text-align: center; 
}

input[type=checkbox]:checked + label:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    border: solid red;
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-radius: 0;
    margin: 0 15px 5px 5px; 
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.delete {
    display: none;
}
.delete__wrap{
    width: 350px;
    height: 250px;
    border-radius: 15px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    flex-direction: column;
    position: absolute;
    left: 38%;
    top: 20%;
}

.delete__text {
    width: 100%;
    color: #666;
    text-align: center;
    margin-bottom: 30px ;
}

.delete__buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.delete__button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #004ee0;
    background-color: #004ee0;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}